body {

    font-family: Arial, sans-serif;

    margin: 20px;

}

.converter {

    max-width: 300px;

    margin: auto;

    padding: 20px;

    border: 1px solid #75afca;

    border-radius: 5px;

    background-color: #dfeef5
}

input, select {

    width: 100%;

    padding: 10px;

    margin: 10px 0;

    border: 1px solid #75afca;

    border-radius: 5px;

}

button {

    width: 100%;

    padding: 10px;

    background-color: #75afca;

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}

button:hover {

    background-color: #75afca;

}

.result {

    margin-top: 20px;

    font-size: 1.2em;

}